<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereco</th>
            <th scope="col">Editar</th>
            <th scope="col">Exluir</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor ="let cliente of clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.endereco}}</td>
            <td> <a mat-raised-button color="primary">Editar</a></td>
            <td> <a mat-raised-button color="warm">Excluir</a></td>
        </tr>
    </tbody>
</table>